.AboutMeContent {
    width: 100%;
    justify-content: center;
    min-height: 492px;
    padding: 15px;
    border-radius: 15px
}

.AboutMeContent img {
    height: auto;
    position: absolute;
    width: 580px;
    top: -40px;
    right: -150px;
}