
.card {
    perspective: 492px;
    min-height: 492px;
    perspective: 1000px;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 492px;
    padding: 15px;
    border-radius: 15px
}

.card-content img {
    height: auto;
    position: absolute;
    width: 580px;
    top: -40px;
    right: -150px;
}