@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}



@media (min-width: 768px) {
  * {
    font-size: 18px;
    line-height: 2rem; 
  }
} 




:root {
  --page-width: 850px;
}

body {
  @apply dark:bg-darkBg bg-bg;
}

body {
  --sb-thumb-color: #000000;
  --sb-track-color: rgb(100, 100, 100);
  width: calc(100vw - 16px);
}

body::-webkit-scrollbar {
  width: 16px;

}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
