@font-face {
    font-family: 'Brevia';
    src: url('../src/assets/font/brevia/Brevia-Regular.ttf');
}

:root {
    --bulma-body-family : 'Brevia', sans-serif;
}

.homepage {
    padding-top: 40px;
}

.page-container {
    width: 1234px;
    margin: 0 auto;
}

.page-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.has-background-color-white {
    background-color: #fff !important;
}

.has-background-color-pink {
    background-color: #FDC5C7 !important;
}

.has-background-color-cerulean {
    background-color: #02ABF8 !important;
}

.has-background-color-gorse {
    background-color: #FFEA45 !important;
}

.has-background-color-blizzardblue {
    background-color: #9DD5F1 !important;
}

.has-background-color-rhino {
    background-color: #2C3760 !important;
}

.has-background-color-roofterracotta {
    background-color: #B82F21 !important;
}

.has-background-color-sprout {
    background-color: #C4D6AF !important;
}

.has-background-color-cornflower-blue {
    background-color: #E8F5FB !important;
}

.has-text-color-cerulean {
    color: #02ABF8 !important;
}

.has-text-color-roofterracotta {
    color: #B82F21 !important;
}

.has-text-color-gorse {
    color: #FFEA45 !important;
}

.has-text-color-pink {
    color: #FDC5C7 !important;
}

.has-text-color-rhino {
    color: #2C3760 !important;
}